:root {
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;
    --font: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neu Helvetica", "Arial", sans-serif;
}

/* * {
    outline:  1px solid red;
} */

body {
    font-family: var(--font);
    color: var(--nord10);
    display: flex;
    flex-direction: column;
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header, section, footer, form, table {
    width: 960px;
    margin: 0 auto;
}

section{
    justify-content: space-around;
}

footer{
    display: flex;
    justify-content: space-between;
}

ul{
    list-style-type: disc;
}

img{
    /* width: 200px;
    height: 200px; */
    margin-right: 20px;
}

a, a:link, a:visited{
    text-decoration: none;
    color: var(--nord10);
}

.flex{
    display: flex;
}




form {
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea, select {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
}


.button {
    padding-left: 90px;
}

button {
    margin-left: 0.5em;
}

table, td, th, tr {
    padding: 1em;
    /* outline:  1px solid red; */
}